.animatediv_bg{
    margin:0;
    width:auto;
    height:100vh;
    display:flex;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    .animatediv_container{
        width:90%;
        h2{
            width:100%;
            text-align: center;
        }
        .container--divshow{
            display: flex;
            .container--divshow--1{
                background-image: url("https://images8.alphacoders.com/685/685192.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                object-fit: cover;
                width:70%;
                min-height: 400px;
                font-family: 'Muli', sans-serif;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                h4{
                    color:white;
                    font-family: 'Muli', sans-serif;
                    font-size:20px;
                }
                p{
                    margin:50px 20px;
                    width:50%;
                    font-family: 'Muli', sans-serif;
                    font-size:18px;
                    color:white;
                    text-align:justify;
                }
                button{
                    margin-left:10px;
                    width:20%;
                    padding:10px 20px;
                    border:none;
                    outline:none;
                    color:white;
                    background:#902a5e;
                    font-size:30px;
                    cursor: pointer;
                    transition: all 1s;
                }
                button:hover{
                    transform: scale(0.8);
                }
            }
            .container--divshow--2{
                width:30%;
                min-height: 400px;
                background: #242a3a;
            }
        }
    }
}
.div_animate_1{
        color:white;
        padding:10px 25px;
        width:auto;
        background: transparent;
        min-height:90%;
        cursor:pointer;
        margin-bottom:50px;
        position: relative;
        .div_animate_1--conteud{
                display: flex;
                justify-content:flex-start;
                width:60%;
                min-height: 40px;
                margin:10px;
                background:#902a5e;
                border-radius:20px;
                span{
                    align-self: center;
                    margin-left:10px;
                    color:white;
                    font-family: 'Muli', sans-serif;
                }
        }
        .position_divconteud4{
            top:0;
            left:0;
            position: absolute;
        }
        .position_divconteud2{
            top:100px;
            right:0;
            position: absolute;
        }
        .position_divconteud3{
            top:200px;
            left:0;
            position: absolute;
        }
        .position_divconteud1{
            right:0;
            bottom:0;
            position: absolute;
        }
}