.card_bg{
    width:28%;
    border: 1px solid rgba($color: gray, $alpha: 0.3);
    margin:10px;
    height: 400px;
    border-bottom: 1px solid red;
    font-family: 'Playfair Display', serif;
    .card_bg--img{
        display: flex;
        align-content: center;
        width:100%;
        height:40%;
        box-sizing: border-box;
        img{
            width:100%;
            height:100%;
        }
    }
    .card_bg_conteud{ 
        box-sizing: border-box;
        height: 170px;
        overflow: hidden;
        .card_conteud--text1{
            text-align: left;
            margin-left:10px;
            h5{
                margin:0;
            }
            p{
                margin:0;
                font-family: 'Muli', sans-serif;
                font-size:14px;
            }
        }
        .card_conteud--text2{
            text-align: left;
            margin-left:10px;
            p{
                margin:0;
                font-family: 'Muli', sans-serif;
                font-size:12px;
            }
        }
    }
    .card_conteud--text3{
        margin:0;
        button{
            border-bottom: 2px solid red;
            font-family: 'Muli', sans-serif;
            outline: none;
            border:none;
            background: firebrick;
            color:white;
            cursor: pointer;
            padding:5px 10px;
            text-align:center;
        }
        button:hover{
            transform: scale(1.1);
        }
    }
}