.card_bg{
    cursor:pointer;
    border-radius:10px;
    padding:10px;
    margin:40px 0;
    width:25%;
    height: 350px;
    display:flex;
    flex-direction: column;
    border:1px solid #3333;
    background:#f5f6f7;
    .card_bg--img{
        width:40%;
        height:40%;
        border-radius:50%;
        background: white;
        box-shadow: 1px 2px 1px #902a5e;
        display:flex;
        align-self: center;
       
            img{
                width:100px;
                height:100%;
                flex-grow: inherit;
                // border-radius:50%;
                margin:0;
                padding:0;
            }
    }
    .card_bg--img:hover{
        transform: scale(1.1);
    }
    .card_bg_conteud{
        width: 100%;
        .card_conteud--text1{
            h5{
                font-family: 'Playfair Display', serif;
                font-size:20px;
                color:#902a5e;
            }
            p{
               font-family: 'Muli', sans-serif; 
                text-align: justify;
            }
        }
    }
    .card_conteud--text3{
        button{
            padding:10px 20px;
            background: #902a5e;
            border:none;
            outline:none;
            color:white;
            cursor:pointer;
            border-radius:5px;
        }
        button:hover{
            transform: scale(1.1);
        }
    }
}