.renderizecardwelcome_bg{
    width:100%;
    height:100%;
    background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                object-fit: cover;
    headermenu{
        z-index: 999;

    }
    welcome{
        z-index: 999;
    }
}